<!DOCTYPE html>
<html>
<head>
	<title>FOCUS Laying Foundation for IIT-JEE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<style>
		img{
			width: 100%;
		}
		body
		{
			background-color: rgba(255,150,0,8);
		}
		.navbar-brand
		{
			margin: 1px;
			border-style: none solid solid none;
			border-width: 1px;
			border-right-color: rgba(200,200,200,0.78);
			border-bottom-color: rgba(200,200,200,0.78);
			background-color: rgba(255,180,10,0.3);
		}
		li
		{
			margin: 1px;
			background-color: rgba(200,200,200,0.25);
			border-style: none solid solid none;
			border-width: 1px;
			border-right-color: rgba(200,200,200,0.78);
			border-bottom-color: rgba(200,200,200,0.78);
			
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			    </button>
				<a href="/" class="navbar-brand"><b>FOCUS</b></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-left navbar-nav">
					<li><a href="/abouts">Abouts</a></li>
					<li><a href="/contacts">Members</a></li>
				</ul>
				<ul class="nav navbar-right navbar-nav">
					<li><a href="/login">Login</a></li>
					<li><a><b>Sandeep Auddy</b></a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="col-lg-1 col-xs-0"></div>
		<div class="col-lg-10 col-xs-12">
			<img class="thumbnail" src="logo/focus_logo.jpeg">
		</div>
		<div class="col-lg-1 col-xs-0"></div>
	</div>
</body>
</html>